body{
	font-size: 16px;
	color: grey;
	background: rgba(0%,0%,50%,28%);
	;

}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border:0;
}

h2{
	color:white;
	text-align: left;
}



#divcol{
	
	padding: auto;
	margin: auto;
	margin-top: 60px;
	padding: 70px;
	border-radius: 25px
	
}

p{
	color: black;

}

h3{
	color: black;
	text-align: center;
}


}
#h2p{
	font-weight: bold;
	color: #545252;
}

p{
	color: white;
}





#footer {
   position:relative;
   left:0px;
   bottom:0px;

   width:100%;
   background:rgba(0%,0%,0%,80%);
   padding-top: 15px;
   padding-bottom: 30px;
   height: 20vh;
   margin-top: -100px

}


h6{
	color: white;
}

a{
	color: grey;
}

#align{
	vertical-align: middle;
}
span{color: white;
	font-size: 14px;

}

div.row{
	padding-top: 25px;
}

@media (max-width: 991px){
	section{
		font-size: 0.8em;
	}
}

@media(max-width: 767px){
	#footer {
   position:fixed;
   left:0px;
   bottom:0px;

   width:100%;
   background:rgba(0%,0%,0%,80%);
   padding-top: 15px;
   padding-bottom: 30px;
   height: 25vh;

}
}

@media(max-width: 500px){
	#divcol{
	
	padding: auto;
	margin: auto;
	margin-top: 50px;
	padding: 70px;
	border-radius: 25px
	
}

}

.container{
	min-height: 100%
}

#main{
	padding-bottom: 97px;
}

