h1{
	font-family: cursive;
	color: #7B2EBF;
	font-weight:bold;

}
body{
	font-size: 16px;
	color: grey;
	background: rgba(0%,0%,50%,28%);
	;

}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border:0;
}

h2{
	color:white;
	text-align: left;
}




p{
	color: black;

}

h3{
	color: black;
	text-align: center;
}


}
#h2p{
	font-weight: bold;
	color: #545252;
}

p{
	color: white;
}





#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   width:100%;
   background:rgba(0%,0%,0%,80%);
   padding-top: 15px;
   padding-bottom: 30px;
   height: 20vh;

}


h6{
	color: white;
}

a{
	color: grey;
}

#align{
	vertical-align: middle;
}
span{color: white;
	font-size: 14px;

}

div.row{
	padding-top: 25px;
}

@media (max-width: 991px){
	section{
		font-size: 0.8em;
	}

	#resize{
		font-size: 2em;
	}
}

@media(max-width: 767px){
	#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   width:100%;
   background:rgba(0%,0%,0%,80%);
   padding-top: 15px;
   padding-bottom: 30px;
   height: 25vh;

}
#main{
	padding-bottom: 185px;
	margin-top: 60px;
}

}




@media(max-width: 500px){
	#main{
	padding-bottom: 190px;
	padding-top: 60px;}

	#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   width:100%;
   background:rgba(0%,0%,0%,80%);
   padding-top: 7px;
   padding-bottom: 40px;
   height: 24vh;

}
}
	

}

.container{
	min-height: 100%
}

#main{
	padding-bottom: 180px;
	padding-top: 60px;
}

